h1 {
    color: #0000FF;
}

hr {
    display: block;
    height: 1px;
    background: transparent;
    width: 100%;
    border: none;
    border-top: solid 2px #0000FF;
    color: #0000FF; /* Цвет линии */
}

table {
    bgcolor: #b0e2ff;
    border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
    border: 1px solid #0000FF; /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
}

th, td {border: 1px solid #0000FF;}


.A4 {
    display: block;
    background-image: url('');
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
    padding: 10px 25px;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

#panel {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: lightblue;
    opacity: 0.9;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 20% 60%;
}

#params_panel {
    margin: 10px;
}

#settings_panel {
    display: flex;
    justify-content: center;
    align-items: center;

}

.basic {
    margin-top: 150px;
}

@media print {
    .page-break {
        display: block;
        page-break-before: always;
    }

    size: A4 portrait

;
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }

    .A4 {
        box-shadow: none;
        margin: 0;
        width: auto;
        height: auto;
    }

    .noprint {
        display: none;
    }

    .enable-print {
        display: block;
    }
}