{% extends 'base.html' %}
{% load static %}

{% block content %}
    <script src="{% static 'js/jscolor.js' %}"></script>
    <h2> Параметры </h2>
    год: {{ my_settings.year }}
    <br>
    тип: {{ my_settings.type }}

    <input type='file' id="image"/>

    <label for="jscolor"> Цвет фона заголовков:
        <input class="jscolor" onchange="update(this.jscolor)" value="b0e2ff">
    </label>

    <label for="jscolor"> Цвет заголовков:
        <input class="jscolor" onchange="update_title(this.jscolor)" value="0000FF">
    </label>

    <label for="jscolor"> Цвет линий:
        <input class="jscolor" onchange="update_line(this.jscolor)" value="0000FF">
    </label>


    <script>

        function update(jscolor) {
            Array.from(document.getElementsByClassName('header')).forEach(function (elem) {
                elem.style.backgroundColor = '#' + jscolor;
            });
        }

        function update_title(jscolor) {
            Array.from(document.getElementsByClassName('title')).forEach(function (elem) {
                elem.style.color = '#' + jscolor;
            });
        }

        function update_line(jscolor) {
            Array.from(document.getElementsByClassName('line')).forEach(function (elem) {
                elem.style.backgroundColor = '#' + jscolor;
            });
        }

        document.querySelector('input[type="file"]').addEventListener('change', function () {
            if (this.files && this.files[0]) {
                var file = document.getElementById("image").files[0];
                var reader = new FileReader();
                reader.onloadend = function () {
                    Array.from(document.getElementsByClassName('A4')).forEach(function (element) {
                        element.style.backgroundImage = "url(" + reader.result + ")";
                    });
                };
                reader.readAsDataURL(file);
            }
        });
    </script>
    <div class="basic">
        {% if my_settings.type == "day" %}
            {% include "planner_day.html" %}
        {% else %}
            {% include "planner_week.html" %}
        {% endif %}
    </div>
{% endblock %}