{% load static %}
<link href="{% static 'css/planner.css' %}" rel="stylesheet">

<div class="A4">
    <br>
    <table style="border: 1px solid #0000FF; width: 21cm; height: 29cm" ;>
        {% for key, values in days.items %}
            <tr style="border: 1px solid #0000FF;">
                <td style="background-color:#b0e2ff ; width: 20%; border: 1px solid #0000FF"><h3>{{ values }} </h3></td>
                <td style="border: 1px solid #0000FF">
                    <hr class="line"/>
                    {% for i in "x"|rjust:"3" %}
                        <br>
                        <hr class="line"/>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>
</div>

{% for key, values in days.items %}
    <div class="A4">
        <div class="header" style="width: 100%; background-color: #b0e2ff; text-align: center; border-radius: 10px">
            <h1 class="title" style="margin: 5px;">{{ values }} </h1>
        </div>
        <br>
        {% for i in "x"|rjust:"29" %}
            <hr class="line"/>
            <br>
        {% endfor %}
    </div>
{% endfor %}