{% load static %}
<link href="{% static 'planner.css' %}" rel="stylesheet">

{%for i in "x"|rjust:"31" %}
<form class="A4">
    <h1>{{forloop.counter}} января</h1>
    <br>
    {%for i in "x"|rjust:"29" %}
        <hr />
        <br>
    {%endfor%}
</form>
{%endfor%}
{%for i in "x"|rjust:"28" %}
<form class="A4">
    <h1>{{forloop.counter}} февраля</h1>
    <br>
    {%for i in "x"|rjust:"29" %}
        <hr color="blue"/>
        <br>
    {%endfor%}
</form>
{%endfor%}
{%for i in "x"|rjust:"31" %}
<form class="A4">
    <h1>{{forloop.counter}} марта</h1>
    <br>
    {%for i in "x"|rjust:"29" %}
        <hr color="blue"/>
        <br>
    {%endfor%}
</form>
{%endfor%}
{%for i in "x"|rjust:"30" %}
<form class="A4">
    <h1>{{forloop.counter}} апреля</h1>
    <br>
    {%for i in "x"|rjust:"29" %}
        <hr color="blue"/>
        <br>
    {%endfor%}
</form>
{%endfor%}
{%for i in "x"|rjust:"31" %}
<form class="A4">
    <h1>{{forloop.counter}} мая</h1>
    <br>
    {%for i in "x"|rjust:"29" %}
        <hr color="blue"/>
        <br>
    {%endfor%}
</form>
{%endfor%}
{%for i in "x"|rjust:"30" %}
<form class="A4">
    <h1>{{forloop.counter}} июня</h1>
    <br>
    {%for i in "x"|rjust:"29" %}
        <hr color="blue"/>
        <br>
    {%endfor%}
</form>
{%endfor%}
{%for i in "x"|rjust:"31" %}
<form class="A4">
    <h1>{{forloop.counter}} июля</h1>
    <br>
    {%for i in "x"|rjust:"29" %}
        <hr color="blue"/>
        <br>
    {%endfor%}
</form>
{%endfor%}
{%for i in "x"|rjust:"31" %}
<form class="A4">
    <h1>{{forloop.counter}} августа</h1>
    <br>
    {%for i in "x"|rjust:"29" %}
        <hr color="blue"/>
        <br>
    {%endfor%}
</form>
{%endfor%}
{%for i in "x"|rjust:"30" %}
<form class="A4">
    <h1>{{forloop.counter}} сентября</h1>
    <br>
    {%for i in "x"|rjust:"29" %}
        <hr color="blue"/>
        <br>
    {%endfor%}
</form>
{%endfor%}
{%for i in "x"|rjust:"31" %}
<form class="A4">
    <h1>{{forloop.counter}} октября</h1>
    <br>
    {%for i in "x"|rjust:"29" %}
        <hr color="blue"/>
        <br>
    {%endfor%}
</form>
{%endfor%}
{%for i in "x"|rjust:"30" %}
<form class="A4">
    <h1>{{forloop.counter}} ноября</h1>
    <br>
    {%for i in "x"|rjust:"29" %}
        <hr color="blue"/>
        <br>
    {%endfor%}
</form>
{%endfor%}
{%for i in "x"|rjust:"31" %}
<form class="A4">
    <h1>{{forloop.counter}} декабря</h1>
    <br>
    {%for i in "x"|rjust:"29" %}
        <hr color="blue"/>
        <br>
    {%endfor%}
</form>
{%endfor%}