{% load static %}
<link href="{% static 'css/planner.css' %}" rel="stylesheet">

{% for key, values in days.items %}
    {%for i in "x"|rjust:values.0 %}
        <div class="A4">
            <div class="header" style="width: 100%; background-color: #b0e2ff; text-align: center; border-radius: 10px">
            <h1 class="title" style="margin: 5px;">{{forloop.counter}} {{ values.1 }} {{ my_settings.year }}</h1>
            </div>
            <br>
            {%for i in "x"|rjust:"26" %}
                <hr class="line"/>
                <br>
            {%endfor%}
        </div>
    {%endfor%}
{%endfor%}
